[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "georgexyz.com"]
	path = georgexyz.com
	url = https://github.com/georgexyz19/georgexyz.com.git
